:root{
    --side-margin:30vw;
    --textcolor: #000000;
    --subtextcolor: #6e6e6e;
    --subsubtextcolor: #a5a5a5;
}
@font-face {
    font-family: 'Didact Gothic';
    font-weight: normal;
    src: url('https://towacott.com/fonts/DidactGothic-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'notosans';
    font-weight: normal;
    src: url('https://towacott.com/fonts/NotoSansJP-LightS.woff2') format('woff2');
}
@media screen and (max-width: 1100px) {
    :root {
        --side-margin:12vw;
    }
    .show_description{
        figure{
            padding:0 0rem;
            margin:0;
            }
    }
    .show_title{
        font-weight: normal;
        font-size:2rem;
        text-align: left;
    }
}
/*全体的に*/
html{
    font-family: Didact Gothic, notosans,serif;
}
a{
    text-decoration: none;
}
body{
    background: #ffffff;
    padding:0;
    margin:0;
}
/*ヘッダー部分*/
header{
    background: #ffffff;
    padding:0 var(--side-margin);
    margin:0;
}
.head_container{
    background: #ffffff;
    padding-top:6rem;
    display:flex;
    flex-flow: column;
}
.title_box{
    display:flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 0.2rem;
}
.title_text{
    font-size: 4.5rem;
    font-weight: lighter;
    text-decoration: none;
    color: var(--textcolor);
}
.title_description{
    color: var(--subtextcolor);
    font-size: 1.3rem;
}
.navibar{
    padding:0;
    display:flex;
    flex-flow:row-reverse;
    justify-content: space-between;
}
.navibar_item{
    font-size: 1.7rem;
    color: var(--subtextcolor);
}
/*本体部分*/
.container{
    padding:0 var(--side-margin);
    margin:0;
}
.titlebar{
    display:flex;
    flex-flow: row;
    h1{
        padding:0;
        margin-top:1rem;
        margin-bottom:0;
        font-weight: lighter;
        color: var(--textcolor);
        font-size: 2.5rem;
    }
}
.timeline{
    background: #ffffff;
}
.post_card{
    text-decoration: none;
    color:var(--textcolor);
}
.post_card:visited{
    text-decoration: none;
}
.post_timestamp{
    font-size: 0.8rem;
    text-align:left;
    color: var(--subtextcolor);
}
.post_title{
    font-size:2rem;
    font-weight:normal;
    margin-bottom:0.3rem;
}
.post_description {
    padding-bottom:0.3rem;
    font-size:1.2rem;
    margin-bottom:1rem;
    color:var(--subtextcolor);
}
/*フッター部分*/
.footer{
    padding:0 var(--side-margin);
    margin-top:10vh;
}
.footer_container{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:1rem;
    padding:0.5rem 0rem;
    margin-bottom:10vh;
}
.footer_box{
    display:flex;
    flex-flow: column;
}
.footer_box_title{
    font-weight: bold;
    font-size:1.5rem;
    color: var(--subsubtextcolor);
}
.ftbox_text{
    color: var(--subsubtextcolor);
}
.ftbox_link{
    color: var(--subsubtextcolor);
}
/*詳細表示のところ*/
.show_container{
    margin-top:1rem;
    display:flex;
    flex-flow: column;
    img{
        display:block;
        margin: auto;
        padding-top:3rem;
        padding-bottom:3rem;
        max-width: 80%;
        border-radius: 1%;
    }

}
.show_description{
    h2{
        font-weight: normal;
        font-size:2rem;
    }
    h3{
        font-weight:normal;
        font-size:1.7rem;
        line-height:0.8rem;
    }
    figure{
        padding:0 0rem;
        margin:0;
        a{
            pointer-events: none;
        }
        img{
            width:100%;
            max-width:100%;
            height:auto;
            padding:0;
        }
        .attachment__caption{
            display:none;
        }
        .attachment__caption--edited{
            display:block;
            font-size:1rem;
            color:var(--textcolor);
        }
    }
}
.show_title{
    font-weight: normal;
    font-size:3rem;
    text-align: left;
}
.show_timestamp{
    text-align: right;
    font-size: 0.8rem;
    color: var(--subtextcolor);
}
@media screen and (max-width: 1100px) {
    .show_description{
        figure{
            padding:0 0rem;
            margin:0;
            }
    }
    .show_title{
        font-weight: normal;
        font-size:2rem;
        text-align: left;
    }
}
